
@{
    ViewBag.Title = "登录系统";
}
<style>
    body{
        background-image:url("/Content/background.jpg");
    }
</style>
<div class="easyui-dialog" title="登录" style="width:600px;height:400px;text-align:center;padding-top:80px;"
     data-options="modal:true,border:false,noheader:true">
    <label style="font-size:24px;font-weight:800">
        LoginSystem
    </label>
    <br />
    <label>
        ----台哥来了CMS
    </label>
    <br /><br />
    <input class="easyui-textbox" data-options="iconCls:'icon-man',prompt:'Account'" style="width:200px;height:30px">
    <br /><br />
    <input class="easyui-textbox" data-options="iconCls:'icon-lock',type:'password',prompt:'Password'" style="width:200px;height:30px"> 
    <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-clear'">Reset</a>&nbsp;&nbsp;
    <a id="btn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">Login</a>  
</div>

