@using Web.Models;
@using RazorBase;
@{
    List<student> obj = Model.list as List<student>;
    //student obj = Model.stu as student;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.sTitle</title>
</head>




